<form method="post" id="codeform">
    <div class="lg:w-1/2 md:w-2/3 mx-auto">
        <div class="flex flex-wrap -m-2">
            <div class="p-2 w-full">
                <div class="relative">
                    <label for="message" class="leading-7 text-sm text-gray-400">Please read before you
                        proceed</label>
                    <p class="w-full bg-gray-800 bg-opacity-40 rounded border border-gray-700 focus:border-indigo-500 focus:bg-gray-900 focus:ring-2 focus:ring-indigo-900 h-30 text-base outline-none text-gray-100 py-1 px-3 resize-none leading-6 transition-colors duration-200 ease-in-out">
                        <q>Dear user , <span style="color:yellow">A code has been mailed to your email</span>.Enter that code here to reset your password.</q>
                    </p>
                </div>
            </div>
            <div class="p-2 w-full">
                <div class="relative" id="codeValue">
                    <input type="text" id="code" name="code" placeholder="Enter Code"
                        class="w-full bg-gray-800 bg-opacity-40 rounded border border-gray-700 focus:border-indigo-500 focus:bg-gray-900 focus:ring-2 focus:ring-indigo-900 h-32 text-base outline-none text-gray-100 py-1 px-3 resize-none leading-6 transition-colors duration-200 ease-in-out" />
                </div>
            </div>
            <div class="p-2 w-full center-align">
                <button type="submit" class="flex mx-auto waves-effect waves-light btn modal-trigger">Submit</button>
            </div>
        </div>
    </div>
</form>